<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Results</h2>

    <p>word = <%= @str %></p>
    <p>Is a palindrome <%= @y %></p>
  </div>
</div>